.score-body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14.659%;
  aspect-ratio: 1;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  font-size: clamp(15px, 1.111vw, 21px);
  font-weight: 700;
  line-height: 1.4em;

  transition: all 300ms linear;
}

.selected {
  background-color: hsl(216, 12%, 54%);
  color: hsl(0, 0%, 100%);
}

.unselected {
  background-color: hsl(213, 19%, 18%);
  color: hsl(216, 12%, 54%);
}

.unselected:hover {
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
}
