.score-body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13.31%;
  height: 3.188rem;
  border-radius: 50%;
  background-color: hsl(213, 19%, 18%);
  color: hsl(216, 12%, 54%);
}
